.dashboard {
    & main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }

    & footer {
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    & a {
        text-decoration: none;
        color: #000;
    }
}