.image-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  &>header {
    & section {
      cursor: pointer;
    }
  }

  & .error {
    color: red;
    font-size: 15px;
  }

  & .hidden {
    display: none;
  }

  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    transition: .5s ease;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      color: #fff;
      font-size: 20px;
    }
  }

  & header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }

  & main {
    & p {
      color: red;
      font-size: 20px;
    }
  }

  & main form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & input[type="text"],
    & textarea {
      padding: 12px;
      border-radius: 10px;
      border: 1px solid black;
      outline: none;
    }

    & section {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  & button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  & button:hover {
    background-color: #ddd;
    font-weight: 500;

  }

}

.hidden {
  display: none;
}

.modify {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

@media screen and (max-width: 480px) {
  .image-popup {
    & header {
      & h3 {
        font-size: 17px;
      }
    }

    & main form {
      align-items: center;

      & input[type=text],
      & textarea,
      & button {
        width: 170px
      }

      & input[type=file] {
        font-size: 12px;
      }

      & button {
        padding: 8px;
        font-size: 15px;
      }
    }
  }
}