.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    &>main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 30px;

        & header {
            text-align: center;

            & h1 {
                font-size: 25px;

            }
        }
    }

    & main {

        & form {
            display: flex;
            flex-direction: column;

            gap: 20px;

            & section {
                display: flex;
                flex-direction: column;
                gap: 8px;

                & .error {
                    border-color: red;
                    color: red;
                }

                & p {
                    font-size: 14px;
                    color: red;
                }
            }

            & input {
                max-width: 100%;
                width: 300px;
                border-radius: 10px;
                border: 1px solid #ddd;
                border-color: green;
                color: green;
                padding: 10px;
                outline: none;
            }

            & input[type="submit"] {
                border-radius: 20px;
                border: none;
                padding: 10px;
                cursor: pointer;
                color: #000000;
            }

            & input[type="submit"]:hover {
                background-color: #70858C;
                color: white;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    & .login {
        & main {
            & form {
                & section {
                    & input {
                        max-width: 100%;
                        width: 300px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    & .login {
        &>main {
            & form {
                & input {
                    max-width: 100%;
                    width: 200px;
                }
            }

            & header {
                & h1 {
                    font-size: 25px;
                }
            }

        }


    }
}