/* Profile.css */

.profile {
    margin: 20px;

    &>header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & button {
            border: none;
            background-color: #EDEDED;
            padding: 8px;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
        }

        & button:hover {
            background-color: #ddd;
            font-weight: 500;

        }

        & p:hover {
            text-decoration: underline;
        }

        & h1 {
            font-size: 26px;
        }
    }

    &>main {
        display: flex;
        margin-top: 55px;
        text-align: center;
        flex-wrap: wrap;

        &>section {
            flex: 1;
            margin-right: 20px;

            & header {
                & h2 {
                    font-size: 22px;
                    margin-bottom: 10px;
                }
            }

            &>main {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                & section {
                    & h3 {
                        font-size: 18px;
                        margin-bottom: 3px;
                    }

                    & p {
                        margin: 0;
                    }

                    & a {
                        text-decoration: none;
                        color: #007bff;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .profile {
        &>main {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px
        }
    }

}